
.Maps{
  // border:1px solid red;
  .InputBoxContainer{
    position: absolute;
     z-index: 10000;
     top:100px;
     left:10px;
    .InputBox{
      display:flex;
      align-items: center;
      gap:1rem;
      .Input{
        width:50px;
      }
      .YellowText{
        color:red;
        font-weight: bold;
      }
    }
    .ButtonsContainer{
      display: flex;
      gap:0.5rem;
    }
  }
}